<div class="preloader"></div>
  
    <! -- ******************** MASTHEAD SECTION ******************** -->  
  <main id="top" class="masthead" role="main">
    <div class="container">
      <div class="logo"> <a href="index.html#"><img src="https://s3-us-west-2.amazonaws.com/cup2cup/Cup2CupLogoTry2_Text.png" alt="logo"></a>
      </div>
 
      <h1>Never send<br>a cold email again</h1>
 
      <div class="row login">           
        <div class="col-md-4">
          <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-success btn-lg" %>
        </div>
        <div class="col-md-4">
          <%= link_to "Sign in with Linkedin", user_omniauth_authorize_path(:linkedin), class: "btn btn-primary btn-lg" %>
        </div>
        <div class="col-md-4">
          <%= render "sign_up" %>
        </div>
      </div>
        <h2>OR</h2>
 
        <a href="index.html#explore" class="scrollto">
        <p>SCROLL DOWN TO FIND OUT MORE</p>
        <p class="scrollto--arrow"><img src="scroll_down.png" alt="scroll down arrow"></p>
        </a>
    </div><! --/container -->
  </main><! --/main -->
 

    <! -- ******************** FEATURES SECTION ******************** -->  
  <div class="container " id="explore">
 
    <div class="section-title " >
      <h2>We make setting up a coffee meeting a more pleasant experience</h2>
      <h4>Simply fill out our form and your invitee will receive an email that looks like this:</h4>
    </div>
    

    <section class="row heroimg breath">
      <div class="col-md-12 text-center"> 
        <img src="flat-mockup-template.png" alt="flat-mockup-template">
      </div>
    </section><! --/section -->
 
    <div class="section-title">
      <h2>Here is how it works.</h2>
      <h4>Cup2Cup is as easy as normal email, but much better.</h4>
    </div>
    
    <section class="row features">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail"> 
          <img src="step1.png" alt="analytics-icon">
          <div class="caption">
            <h3>1) Engage</h3>
            <p>Tell them why you want to meet!</p>
          </div>
        </div><! --/thumbnail -->
      </div><! --/col-sm-6-->
 
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail"> 
          <img src="step2.png" alt="analytics-icon">
          <div class="caption">
            <h3>2) Schedule</h3>
            <p>Pick a day and time.</p>
          </div>
        </div><! --/thumbnail -->
      </div><! --/col-sm-6-->
 
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail"> 
          <img src="step3.png" alt="analytics-icon">
          <div class="caption">
            <h3>3) Select</h3>
            <p>Pick where to go get coffee.</p>
          </div>
        </div><! --/thumbnail -->
      </div><! --/col-sm-6-->
 
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail"> 
          <img src="step4.png" alt="analytics-icon">
          <div class="caption">
            <h3>4) Impress</h3>
            <p>Tell them who you are! </p>
          </div>
        </div><! --/thumbnail -->
      </div><! --/col-sm-6-->
    </section><! --/section -->

 

      <!-- ******************** CLIENTS SECTION ******************** -->  


  
    <section class="row clientlogo breath">
     
    </section><! --/section -->
 
  </div><! --/container -->
 

      <!-- ******************** TESTIMONIALS SECTION ******************** -->   
    <div class="highlight testimonials">
      <div class="container">
        
        
      
 
      </div><!--/container -->
    </div><!--/highlight Testimonials -->
 

      <!-- ******************** PRICING LIST ******************** -->    
    
      
 

     
 
  </div><! --/container -->

      <! -- ******************** FOOTER ******************** -->    
    <main class="footercta" role="main">
      <div class="container">
        <div class="im-centered">
          <div class="row">
            <div class="thumbnail"> 
              <img src="step5.png" alt="analytics-icon">
              <div class="caption">
                <h3>5) Get it started</h3>
                <p>Send them a Cup2Cup email! </p>
              </div>
            </div><! --/thumb -->
          </div>
        </div>
   
        </div>
        <h1>Sign up <strong>Now</strong> <br>
          and start taking better coffee meetings:</h1>
  
        <div class="row login">           
          <div class="col-md-4">
            <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-success btn-lg" %>
          </div>
          <div class="col-md-4">
            <%= link_to "Sign in with Linkedin", user_omniauth_authorize_path(:linkedin), class: "btn btn-primary btn-lg" %>
          </div>
          <div class="col-md-4">
            <%= render "sign_up" %>
          </div>
        </div>
      </div><! --/container -->
    </main><! --/main -->
 
    
      <section class="row breath">
        <div class="col-md-12 footerlinks">
          <p>&copy; 2014 Cup2Cup All Rights Reserved</p>
        </div>
      </section><! --/section -->
 
 
 
 
<script>


 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
     var $anchor = $(this);
     $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });
        

</script>