= render 'top_nav'
%section.homepage
  .homepageLeft
    / .section.sectionOne
    /   Hey Now
    / .section.sectionTwo
    /   Whaaaaaaat?
    / .section.sectionThree
    /   Yeeeeeeah!!
    / .section.sectionFour
    /   Okaaaayyy!
    
  .homepageRight
    .signup
      %h2 Never cold e-mail again!
      %br
      %p Cup2Cup is here to make it easy to send out personalized email invites. 
      %p With 4 simple steps:
      %ul
        %li.stepOne 1) Fill out an email template (5 W's)
        %li.stepTwo 2) Send your peronally customized email
        %li.stepThree 3) Wait for their response 
        %li.stepFour 4) (Hopefully) go to your coffee meeting
      %btn.btn-default
        = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)
      %br

      Or
      = form_tag registration_path(:user) do
        %p
          email: 
          = text_field_tag 'user[email]'
        %p
          password:
          = password_field_tag 'user[password]' 
        %button Sign Up
        = check_box_tag 'user[remember_me]'
        remember me
      %br
      now to get started!

%section.stepOne.clear 
  %h2 Personalize your email template (5 W's)
  = image_tag("https://s3-us-west-2.amazonaws.com/cup2cup/screenshot.jpg")
      
