.form
  .userInfo 
    Welcome! Fill out your email template to get started:
    .signOut  
      - if user_signed_in?
        = link_to "Sign Out", destroy_user_session_path, method: :delete
  = form_for @event, {class: 'form-horizontal'} do |f|
    .emailForm
      
      .row
        %a{:href => "#"}
          %img{:src => "https://s3-us-west-2.amazonaws.com/cup2cup/Cup2CupLogoTry2_Text.png"}
      .intro
        = current_user.first_name
        wants to buy you a coffee!
      .formTextArea
        .whyText
          Why?
        .whyForm
          = f.text_area :description, class: "form-control", placeholder: "Give them a compelling reason to meet you. (< 250 Chars)", wrap: "hard"
      .formWhenArea.clear
        .whenText.col-md-12
          What time works for you?
        .whenForm
          .col-md-6
            Day:
            = f.text_field :start_time_date, as: :string, class: "form-control datepicker", placeholder: "#{Time.now.strftime("%e %B")}"
          .col-md-6.hour
            Time:
            = f.text_field :start_time_time, as: :time, class: "form-control timepicker", placeholder: "#{Time.now.strftime("%l:%M %p")}"
      .formTextArea.where.clear
        .whereText
          Where?
        .whereMap
          = f.text_field :address, class: "form-control search-query", id: 'location_search'
          = render 'googlemap'
      .formTextArea.who.clear
        .whoTitle
          Who's #{current_user.first_name}?
        .col-md-3.whoImage
          -if current_user.image_url != nil
            %img{:src => "#{current_user.image_url}" }
          -else
            %img{:src => "#{current_user.avatar.url(:medium)}"}
        .col-md-9.whoText
          <strong>Name: </strong> #{current_user.name_display}
          %br
          %br
          <strong>Bio: </strong> #{current_user.bio}
          = link_to "Edit", edit_user_registration_path
          

    .inviteeEmailText
      %p 
        Invitee Email:
        = f.email_field :invitee_email
      Now simply, press 
      = f.submit value: 'Send Email', class: 'btn btn-default'
      %br
      and wait for your response


  / %h4 Images
  / #place_images


:javascript
  $('#datetimepicker').datetimepicker()

  $('#datetimepicker2').datetimepicker()
  $(".datepicker").pickadate()
  $(".timepicker").pickatime()