<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Campaign Monitor Newsletter</title>
  <style>
  a:hover {
    text-decoration: underline !important;
  }
  td.promocell p { 
    color:#e1d8c1;
    font-size:16px;
    line-height:26px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:14px;
    font-weight:normal;
  }
  td.contentblock h4 {
    color:#444444 !important;
    font-size:16px;
    line-height:24px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top:0;
    margin-bottom:10px;
    padding-top:0;
    padding-bottom:0;
    font-weight:normal;
  }
  td.contentblock h4 a {
    color:#444444;
    text-decoration:none;
  }
  td.contentblock p { 
      color:#888888;
    font-size:13px;
    line-height:19px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top:0;
    margin-bottom:12px;
    padding-top:0;
    padding-bottom:0;
    font-weight:normal;
  }
  td.contentblock p a { 
      color:#3ca7dd;
    text-decoration:none;
  }
  @media only screen and (max-device-width: 480px) {
       div[class="header"] {
            font-size: 16px !important;
       }
       table[class="table"], td[class="cell"] {
            width: 300px !important;
       }
    table[class="promotable"], td[class="promocell"] {
            width: 325px !important;
       }
    td[class="footershow"] {
            width: 300px !important;
       }
    table[class="hide"], img[class="hide"], td[class="hide"] {
            display: none !important;
       }
       img[class="divider"] {
          height: 1px !important;
     }
     td[class="logocell"] {
      padding-top: 15px !important; 
      padding-left: 15px !important;
      width: 300px !important;
     }
       img[id="screenshot"] {
            width: 325px !important;
            height: 127px !important;
       }
    img[class="galleryimage"] {
        width: 53px !important;
            height: 53px !important;
    }
    p[class="reminder"] {
      font-size: 11px !important;
    }
    h4[class="secondary"] {
      line-height: 22px !important;
      margin-bottom: 15px !important;
      font-size: 18px !important;
    }
  }
  </style>
</head>
<body bgcolor="#e4e4e4" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#e4e4e4;-webkit-text-size-adjust:none;">
  
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#e4e4e4">
<tr>
  <td bgcolor="#e4e4e4" width="100%">

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
  <tr>
    <td width="600" class="cell">
    
    
  

    <%= link_to image_tag(@image_url, size: '600x350'), "#{@image_url}" %>
    <table width="600" cellpadding="25" cellspacing="0" border="0" class="promotable">
    <tr>
      <td bgcolor="white" color="black" width="600" class="promocell">                      
       
        <multiline label="Main feature intro"><img src="https://s3-us-west-2.amazonaws.com/cup2cup/Cup2CupLogoTry2_Text.png" width="100px" ><p color="black"><%= @event.user.first_name %> wants to buy you a coffee!</p></multiline>
      
      </td>
    </tr>
    </table>
  
    <img border="0" src="images/spacer.gif" width="1" height="15" class="divider"><br>
  
    <repeater>
      <layout label="New feature">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td bgcolor="#85bdad" nowrap><img border="0" src="images/spacer.gif" width="5" height="1"></td>
        <td width="100%" bgcolor="#ffffff">
      
          <table width="100%" cellpadding="20" cellspacing="0" border="0">
          <tr>
            <td bgcolor="#ffffff" class="contentblock">

              <h4 class="secondary"><strong><singleline label="Title">Why?</singleline></strong></h4>
              <multiline label="Description"><p><%= @event.description %></p></multiline>

            </td>
          </tr>
          </table>
      
        </td>
      </tr>
      </table>  
      <img border="0" src="images/spacer.gif" width="1" height="15" class="divider"><br>
      </layout>
      <layout label="Article, tip or resource">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td bgcolor="#ef3101" nowrap><img border="0" src="images/spacer.gif" width="5" height="1"></td>
        <td width="100%" bgcolor="#ffffff">
      
          <table width="100%" cellpadding="20" cellspacing="0" border="0">
          <tr>
            <td bgcolor="#ffffff" class="contentblock">

              <h4 class="secondary"><strong><singleline label="Title">When?</singleline></strong></h4>
              <multiline label="Description"><p><%= @time %></p></multiline>

            </td>
          </tr>
          </table>
      
        </td>
      </tr>
      </table>  
      <img border="0" src="images/spacer.gif" width="1" height="15" class="divider"><br>
      </layout>
      <layout label="Gallery highlights">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td bgcolor="#832701" nowrap><img border="0" src="images/spacer.gif" width="5" height="1"></td>
        <td width="100%" bgcolor="#ffffff">

          <table width="100%" cellpadding="20" cellspacing="0" border="0">
          <tr>
            <td bgcolor="#ffffff" class="contentblock">

              <h4 class="secondary"><strong><singleline label="Gallery title">Where?</singleline></strong></h4>
              <multiline label="Gallery description"><p><%= @event.address %></p></multiline>

            </td>
          </tr>
          </table>

        </td>
      </tr>
      </table>

      
      <img border="0" src="images/spacer.gif" width="1" height="15" class="divider"><br>
      </layout>
      <layout label="Pull quote">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td bgcolor="#85bdad" nowrap><img border="0" src="images/spacer.gif" width="5" height="1"></td>
              <td width="100%" bgcolor="#ffffff">
            
                <table width="100%" cellpadding="20" cellspacing="0" border="0">
                <tr>
                  <td bgcolor="#ffffff" class="contentblock">
      
                    <h4 class="secondary"><strong><singleline label="Pull quote">Who's <%= @event.user.first_name %>?</singleline></strong></h4>
                    <%= image_tag(@event.user.image_url, size: '100x100') %>
                    <h4 class="secondary"><strong><singleline label="Gallery title">Name:</singleline></strong></h4>
                    <multiline label="Gallery description"><p><%= @event.user.name_display %></p></multiline>
                    <h4 class="secondary"><strong><singleline label="Gallery title">Bio:</singleline></strong></h4>
                    <multiline label="Gallery description"><p><%= @event.user.bio %></p></multiline>
                    
    
      
                  </td>
                </tr>
                </table>
            
              </td>
            </tr>
            </table>  
            <img border="0" src="images/spacer.gif" width="1" height="15" class="divider"><br>
            </layout>

            <layout label="New feature">
              <table width="100%%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td bgcolor="#85bdad" nowrap><img border="0" src="images/spacer.gif" width="5" height="1"></td>
                <td width="33%" bgcolor="#ffffff">
              
                  <table width="100%" cellpadding="20" cellspacing="0" border="0">
                  <tr>
                    <td bgcolor="#ffffff" class="contentblock">

                      <h4 class="secondary"><strong><singleline label="Title"><%= link_to "Yes", welcome_url(@user.id) %></singleline></strong></h4>
                      

                    </td>
                  </tr>
                  </table>
              
                </td>
                <td bgcolor="#ef3101" nowrap><img border="0" src="images/spacer.gif" width="5" height="1"></td>
                <td width="33%" bgcolor="#ffffff">
              
                  <table width="100%" cellpadding="20" cellspacing="0" border="0">
                  <tr>
                    <td bgcolor="#ffffff" class="contentblock">

                      <h4 class="secondary"><strong><singleline label="Title"><%= link_to "Maybe", welcome_m_url(@user.id) %></singleline></strong></h4>
                      

                    </td>
                  </tr>
                  </table>
              
                </td>
                <td bgcolor="#832701" nowrap><img border="0" src="images/spacer.gif" width="5" height="1"></td>
                <td width="33%" bgcolor="#ffffff">
              
                  <table width="100%" cellpadding="20" cellspacing="0" border="0">
                  <tr>
                    <td bgcolor="#ffffff" class="contentblock">

                      <h4 class="secondary"><strong><singleline label="Title"><%= link_to "No", welcome_n_url(@user.id) %></singleline></strong></h4>
                      

                    </td>
                  </tr>
                  </table>
              
                </td>
              </tr>
              </table>
            </layout>
            

  <img border="0" src="images/spacer.gif" width="1" height="25" class="divider"><br>

  <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f2f2f2">
  <tr>
    <td>
    
      <img border="0" src="images/spacer.gif" width="1" height="30"><br>
    
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
      <tr>
        <td width="600" nowrap bgcolor="#f2f2f2" class="cell">
        
          <table width="600" cellpadding="0" cellspacing="0" border="0" class="table">
          <tr>
            <td width="380" valign="top" class="footershow">
            
              <img border="0" src="images/spacer.gif" width="1" height="8"><br>  
            
              <p style="color:#a6a6a6;font-size:12px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:15px;padding-top:0;padding-bottom:0;line-height:18px;" class="reminder">You’re receiving this because you’ve been invited for coffee via <a href="http://www.cup2cup.us/" style="color:#a6a6a6;text-decoration:underline;">www.cup2cup.us</a>.</p>
              <p style="color:#c9c9c9;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;"><preferences style="color:#3ca7dd;text-decoration:none;"><strong>Edit your subscription</strong></preferences>&nbsp;&nbsp;|&nbsp;&nbsp;<unsubscribe style="color:#3ca7dd;text-decoration:none;"><strong>Unsubscribe instantly</strong></unsubscribe></p>
            
            </td>
            
          </table>
        
        </td>
      </tr> 
        </table>

      <img border="0" src="images/spacer.gif" width="1" height="25"><br>
    
     </td>
  </tr>
  </table>
  
  </td>
</tr>
</table>                   

</body>
</html>
