.addBio
  .im-centered-2
    .row.setupEmail
      = form_for @user, url: wizard_path, method: :put do |f|
        - if @user.provider === nil
          First Name:
          = f.text_field :first_name, class: 'form-control', autofocus: true
          Last Name:
          = f.text_field :last_name, class: 'form-control'
        %h2 
          Add a quick biography for yourself 
          %br (Hint: make yourself seem interesting) 
        = f.text_area :bio, class: 'form-control', rows: '10'
        %br
        - if current_user.image_url === nil
          .profile-pic.clear
            %h2 Profile Picture
            = f.file_field :avatar
            = bootstrap_paperclip_picture f, :avatar
        - else
          .profile-pic.clear
            %h2 Profile Picture
            = f.file_field :avatar
            %img{:src => "#{current_user.image_url}" }
        %br
        = f.submit "Continue", class: 'btn btn-success btn-lrg'
          